<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>My Florida Watershed Address</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>

<script src="../js/lodash.min.js"></script>
<script src="../js/config.js"></script>
<script src="../js/polygons.js"></script>

<div id='map'></div>

<script>
L.mapbox.accessToken = mapboxConfig.accessToken;
var map = L.mapbox.map('map', 'examples.map-i86nkdio') // TO DO: replace with custom map
    .setView([29.6, -82.3], 8);

var addGeoJsonLayer = function (url, style) {
  var newLayer = L.mapbox.featureLayer()
    .loadURL(url)
    .on('ready', function () {
        // After the 'ready' event fires, the GeoJSON contents are accessible
        // and you can iterate through layers to bind custom popups.
        newLayer.setStyle(style);
        newLayer.eachLayer(function(layer) {
            // See the `.bindPopup` documentation for full details. This
            // dataset has a property called `name`: your dataset might not,
            // so inspect it and customize to taste.
            layer.bindPopup(layer.feature.properties.NAME);
        });
    })
    .addTo(map);
}
_.forEach(polygons, function (p) { addGeoJsonLayer(p.data.url, p.style); });
</script>


</body>
</html>

